<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

	<context-param>
		<param-name>webAppRootkey</param-name>
		<param-value>mangment</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防内存泄漏监听 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/applicationContext.xml</param-value>
	</context-param>
	
	<listener> 
          <listener-class> org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener> 
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:properties/log4j.properties</param-value>
	</context-param>
	
<!-- 	<filter>   -->
<!--     	<filter-name>sysLoanFilter</filter-name>   -->
<!--     	<filter-class>org.pub.mgt.system.filter.SysLoanFitler</filter-class>   -->
<!-- 	</filter>   -->
<!-- 	<filter-mapping>   -->
<!--     	<filter-name>sysLoanFilter</filter-name>   -->
<!--     	<url-pattern>/*</url-pattern>   -->
<!--    </filter-mapping>   -->
	
	<!-- 定义编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.pub.mgt.system.filter.ReqEncodingFilter
		</filter-class>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- 定义权限过滤器 -->
	<filter>
		<filter-name>securityFilter</filter-name>
		<filter-class>
			org.pub.mgt.system.filter.SecurityFilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/dispatcherServlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	  <welcome-file>/view/login.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 配置404与500错误处理 -->
	<error-page>
	 	<error-code>404</error-code>
	 	<location>/404.htm</location>
	</error-page>
	<error-page>
	 	<error-code>500</error-code>
	 	<location>/500.htm</location>
	</error-page>
	<session-config>
		<session-timeout>600</session-timeout>
	</session-config>

	
</web-app>