<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Role">
   <resultMap id="roleMap" type="org.pub.dal.user.model.Role">
		<result property="roleid" column="roleid" />
		<result property="rolename" column="rolename" />
		<result property="bz" column="bz" />
   </resultMap>
   <!-- 类目 -->
	<sql id="roleCloum">
	  roleid,rolename,bz
    </sql>
   <select id="queryRoleList" parameterType="java.util.HashMap" resultMap="roleMap">
       select <include refid="roleCloum" /> from t_role order by roleid limit #{start},#{limit}
    </select>
   <select id="queryList" resultMap="roleMap">
       select <include refid="roleCloum" /> from t_role
    </select>
   <select id="queryTotalCont" parameterType="java.util.HashMap" resultType="int">
       select count(1) from t_role 
    </select>
    <insert id="insert" parameterType="org.pub.dal.user.model.Role">
    	insert into t_role(roleid,rolename,bz) values(#{roleid},#{rolename},#{bz})
    </insert>
    <update id="update" parameterType="org.pub.dal.user.model.Role">
    	update t_role set rolename = #{rolename},bz = #{bz} where roleid = #{roleid}
    </update>
    <select id="queryUserCount" parameterType="java.util.HashMap" resultType="int">
    	select count(1) from t_user where roleid = #{roleid}
    </select>
    <delete id="delete" parameterType="java.util.HashMap" >
    	delete from t_role where roleid = #{roleid}
    </delete>
</mapper>
